* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #495E57;
    display: flex;
    color: white;
}

.leftContainer {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #F4CE14;
}

.button {
    background-color: #F4CE14;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    margin-top: 15vh;
}

.desc {
    width: 30vw;
    margin-top: 5vh;
}

.img {
    width: 15vw;
    border-radius: 8px;
    transform: translateY(8vh);
}